/*General*/
html,body{
    font-family: 'Noto Sans JP', sans-serif;    
    margin: 0;
    padding: 0;
    font-size: 18px;
}

@media only screen and (min-width: 480px) and (max-width: 768px){
    html, body{
        font-size: 0.8rem;
    }
}
/*Header*/
header{
    background: url(./image/banner4.jpeg), #041e44; 
    background-size: cover;
    background-blend-mode: overlay;
    background-position-y: bottom;
    height: 500px;
    color: rgb(219, 208, 208);
    margin-bottom: 20px;
}
.bar{
    display:flex;
    height: 40px;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.3rem;
    padding-left: 1rem;


}

.logo img{
    height: 100%;
}
.logo{
    height: 60%;

}

nav ul{
    display: flex;
    list-style-type: none;
    margin: 0 auto;
}

nav li{
    margin-right: 40px;
}

nav li:last-child{
    display: none;
}

nav a{
    text-decoration: none;
    color: rgb(219, 208, 208);
    font-weight: 700;
}

.banner{
    text-align: center;
    margin-top: 80px;
}
h1{
    text-transform: uppercase;
    font-size: 2.75rem;
}


.banner a{
    border: rgb(219, 208, 208) solid 3px;
    background-blend-mode: overlay;
    font-size: 1.25rem;
    text-decoration: none;
    color: rgb(219, 208, 208);
    padding: 0.75rem;
    border-radius: 5px;

}

.banner .button{
    margin-top: 3rem;
}

.banner .button:hover, .button2:hover{
    cursor: pointer;
}

@media only screen and (min-width: 480px) and (max-width: 768px){
    header{
        height: 350px;
    }
    .bar{
        height: 30px;
    }

    .banner{
        padding: 0 30px;
    }
    .button a{
        font-size: 0.8em;
    }
    nav li:nth-child(-n+5){
        display: none;
    }

    nav{
        height: 100%;
    }
    nav li:last-child{
        display: inline;
        height: 100%;
        margin-right: 0;
    }
}

@media only screen and (max-width: 480px){

    header{
        height: 400px;
    }
    nav li:nth-child(-n+4){
        display: none;
    }

    .banner h1{
        font-size: 1.2rem;
    }

    .banner p{
        font-size: 0.7rem;
        margin: 1rem 3rem;
    }

    .banner a{
        font-size: 0.8rem;
    }
    }


/*Section*/
section{
    margin: 80px;
    text-align: center;
}
h2{
    text-transform: uppercase;
    font-size: 1.75rem;
}

.p1{
    margin: 0 200px;
}
.tech-fields{
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
}

.specific-field{
    height: 250px;
    display: flex;
    font-size: 14px;
    width: 30%;
    align-items:flex-start;
    justify-content: left;
    line-height: 2;
}

.specific-field div{
    min-width: 70%;
}
h5{
    font-size: 18px;
    margin: 10px 2rem;
    text-align: left;
}
.specific-field img{
    width: 20%;
    margin: 20px 0;
}
.specific-field h4, .specific-field p{
    text-align: left;
}
.specific-field p{
    margin-left: 2rem;

}


@media only screen and (min-width: 480px) and (max-width: 768px){
    section{
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .tech-fields{
        flex-direction: column;
        justify-content: center; 
    }
    .specific-field{
        width: 80%;
        height: auto;
        margin: 20px auto;
        font-size: 0.8rem;
        justify-items: left;
    }
    .specific-field img{
        width: 50px;
    }

    h1{
        font-size: 25px;
    }

    h2{
        font-size: 18px;
    }

    h3{
        font-size: 14px;
    }

    .p1{
        margin: 1rem;
    }
}
@media only screen and (max-width: 480px){
    section{
        margin: 2rem 1rem;
    }
    section h2{
        font-size: 1.1rem;
        text-align: center;
    }
    section p:first-of-type{
        font-size: 0.7rem;
        margin: 0 1rem;
    }
    .tech-fields{
        flex-direction: column;
        justify-content: center;

    }
    .specific-field{
        flex-direction: column;
        justify-items: center;
        width:100%;
        align-items: center;
        flex-wrap: nowrap;
        margin: 1rem 0;
        
    }
    h5{
        text-align: center;
    }
    .specific-field img{
        width: 80px;
        height: auto;
        flex-shrink: 0;
    }
    .specific-field p{
        text-align: center;
        flex-shrink: 0;

    }

}
/*Footer*/
footer{
    background-image: linear-gradient(rgb(4,46,136), #011022);
    color: rgb(219, 208, 208);
    font-size: 16px;
    padding-top: 20px;
}

h3{
    font-size: 22px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}

.news-content{
    display: flex;
    margin:2rem;
    justify-content: space-evenly;
}

.news1, .news2{
    width: 100px;
}
h4{
    margin: 0;
    color: rgb(219, 208, 208);
}
.news p{
    font-size: 14px;
    opacity: 0.75;
    margin-top: 7px;
    margin-bottom: 30px;
}

footer a{
    border: rgb(219, 208, 208) solid 3px;
    padding: 15px 30px;
    border-radius: 5px;
}

.button2{
    text-align: center;
}

.info{
    display: flex;
    justify-content: space-evenly;
}

h6{
    font-size: 20px;
    margin: 10px auto;
    text-transform: uppercase;
}

.info ul{
    list-style-type: none;
    line-height: 2;
    margin-top: 100px;
}

.extra{
    display: flex;
    justify-content: space-between;
    margin: 0 40px;
    margin-top: 50px;
    padding-bottom: 50px;
    font-size: 12px;
}

@media only screen and (min-width: 480px) and (max-width: 768px){
    footer{
        font-size: 0.95em;
    }

    .new2{
        display: none;
    }

    .new1 p, .news a{
        font-size: 0.8em;
    }
    .info ul{
        display: none;
    }
}

@media only screen and (max-width: 480px){
    footer{
        font-size: 0.8em;
        margin-top: 4rem;
    }

    .new2{
        display: none;
    }
    .news-content{
        margin: 1.5rem 2.5rem;
    }
    .new1 p, .news a{
        font-size: 0.8em;

    }
    .info ul {
        display: none;
    }
    h3{
        font-size: 1.05rem;
    }
}
